/*--------------------------------------------*/

*, ::after, ::before {
    box-sizing: border-box;
    font-family: Garamond, serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------*/


    .header {
        display: flex;
        position: sticky;
        top: 0;

        min-height: 10vh;
        padding: 1vh 2rem;

        background-color: black;
        box-shadow: 2px 2px 6px 3px rgba(255, 238, 0, 0.4);
    }

    .footer {
        display: flex;
        position: sticky;
        bottom: 0;

        min-height: 10vh;
        padding: 1vh 2rem;

        background-color: black;
        box-shadow: -2px -2px 6px 3px rgba(255, 238, 0, 0.4);
    }

/*--------------------------------------------*/

    .mainArea {
        min-height: 78vh;
        background-color: rgb(30, 30, 30);
    }


    .white {
        background-color: white;
        padding: 1rem;
        text-align: center;
        margin: 0 15vw;
    }

    .completedTask {
        text-decoration: line-through;
    }
