* {
    font-family: 'Verdana', sans-serif;
    box-sizing: border-box;
    padding: 0.5rem;
}

h1 {font-size: 2.5rem;}

html, body {
    margin: 0;
    padding: 0;
    /*background-image: url("../resources/cinema.jpg");
    background-position: center;
    background-size: cover;
    filter:grayscale(12%);*/
    background-color:  rgb(49, 49, 49);
}

.header {
    background-color: rgb(40, 13, 84);
    color: white;
    margin: 0;
    padding: 2rem 0.5rem;
}

.movie-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: rgb(100, 13, 199);
    color: white;

    margin: 2rem;
    padding: 2rem 25vw;
    border-radius: 7px;
}

.movie-display {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.movie-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: rgb(100, 13, 199);
    color: white;

    margin: 2rem;
    padding: 2rem;
    border-radius: 7px;
}
.movie-card span {
    margin: 1rem 0;
}

.subTitle {
    color:whitesmoke;
}

/* ------------ Checkout --------------- */

    .book {
        margin: 0 25vw;
        padding: 4rem;
    }